h1{
  background-color: rgb(255, 255, 121);
  margin: 0;
  text-align: center;    
}
nav {
  padding: 0;  
  background-color: rgb(255, 255, 162);
}
a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
a:hover{
    color: crimson;
}
